<p-panel header="Romanian Energy Generation Capacity [MW]">
  <p-chart
    #chart
    type="line"
    [data]="energyData"
    [responsive]="true"
    [options]="options"
    height="90vh"
  ></p-chart>
  <ng-template pTemplate="footer">
    <div>Data scraped daily from <a href="https://www.anre.ro/ro/energie-electrica/rapoarte/puterea-instalata-in-capacitatiile-de-productie-energie-electrica" target="_blank">ANRE</a>.</div>
    <span>Copyright &copy;2022 monocube.com. Source available at <a href="https://github.com/monocube/roenergy" target="_blank">GitHub</a>.</span>
</ng-template>
</p-panel>
<router-outlet></router-outlet>
